
*{
    padding: 0;
    margin: 0px;
    color: inherit;
    background-color: inherit;
    outline:none;
    text-decoration: none;
    border-radius: 0;
    font-size: 18px;
    
}

button{
    border-radius: 0;
    border-width: 2px;
}

.black:hover, .white:hover{
    border-color: orange;
    color: orange;
}


.lent{
    border: 2px solid white;
    padding: 0 5px;

}

.lent:focus {
    color: orange;
    transition: 1s;
    border-color: orange;
}

.error {
    color: orange;
}


.bl{
    background: black;
    color: white;
    border-color: white;
}


.white#main_entry {
    border: 2px solid black;
    border-radius: 0;
    padding:0 10px ;
}
.black#main_entry {
    border: 2px solid white;
    border-radius: 0;
    padding:0 10px ;
}

#main_entry:focus {
    border-color: orange;
    color: orange;
}

.main_l{
    font-size: 45px;
    padding: 13px 0;
}
.ok_btn{
    margin: 0 60px;
    border-radius: 4px;
}
.ok_btn label{
    margin: 0 60px;
}

.ok_btn:hover{
    color: orange;
    transition: 1s;
    border-color: orange;

}

.black{
    background-color: black;
    border: 2px solid white ;
    color: white;
    
}

.pading_left_100 {
    padding-left: 100px;
}
.black.black_theme{
    background-color: black;
    border-color: white;
}

.black.white_theme{
    background-color: white;
    border-color: white;

}

.white{
    background-color: white;
    border: 2px solid black ;
    color: black;
    
}
.white.black_theme{
    background-color: black;
    border-color: black;
}

.white.white_theme{
    background-color: white;
    border-color: black;

}

#E{
    
    box-shadow: inset 0px 0px rgba(0, 0, 0, 0);
}

.black_theme:hover, .white_theme:hover{
    border-color: orange;
}

.X{
    background: transparent;
    border-width:0 ;
    border: none;
    padding:0 20px;
    box-shadow: inset 0px 0px rgba(0, 0, 0, 0);
}


.bold {
    font-weight: bold;
}

.h2{
    font-size: 25px;
}
.h1{
    font-size: 16px;
}

.orange, .orange label{
    color:orange ;
}
.red {
    color:red;
}
.lime{
    color:lime;
}

.italic{
    font-style:  italic;
}

/* 



.main_label{
    font-size: 30px;
    padding: 15px ;
}
.lang_btn{
    margin: 0 10px;
}

.white_them{
    background: white;
}

entry{
border:0;
border-bottom: 2px solid white;
border-radius: 0;
padding: 5px;
}
entry:focus{
border-color: orange;
color: orange;
}
.black{
    background: black;
    color: white;
    border-color: white;
    transition: 1s;
}

.white{
    background: white;
    color: black;
    border-color: black;
    transition: 1s;

}

.white_them{
    background: white;
    border: 0;
    border-radius: 0;
}

.black_them{
    background: black;
    border: 0;
    border-radius: 0;
}

.white_them.white, .black_them.white {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.white_them.black, .black_them.black {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid white;
}

.white_them.black:hover, .black_them.black:hover {
    background: orange;
    transition: 1s;
}
.white_them.white:hover, .black_them.white:hover {
    background: orange;
    transition: 1s;
}
.ok_btn{
    padding: 12px 40px;
    margin: 0 70px;
}
.error{
    color: orange;
}

button:hover{
    color: orange;
    border-color: orange;
}




.h2{
    font-size: 20px;
}
.h1{
    font-size: 25px;
}
.h3{
    font-size: 15px;
}

.orange, .orange label{
    color:orange ;
}
.red {
    color:red;
}
.lime{
    color:lime;
}
.normal{
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bold{
    font-weight: bold;
}

.italic{
    font-style:  italic;
}

.X{
    background: transparent;
    border: none;
}

.pading_left_100 {
    padding-left: 100px;
}
.body{
    padding: 20px;
} */
